body{
/* font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;

font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
margin: 0;
padding: 30px 20px 0px;
}

.color-text{
    color: #8043A2;
}

.color-btn{
    text-decoration: none;
    background-color: #8043A2;
    color: white;
    padding: 15px 30px;
    border-radius: 5px; 
}

.first-section{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.half-side{
    width: 50%;
    padding-left: 5%;
}

.half-side img{
    width: 80%;
}

.sidebar-text{
    font-size: 35px;
    border-left: 4px solid #8043A2;
    padding-left: 10px;
    font-family: 'Yeseva One', cursive;
}

.left-side{
    padding-top: 50px;
}

.paragraph{
    padding-bottom: 20px;
    font-size: 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
}

.blue-text{
    color: orangered;
}

.orange-text{
    color: rgb(2, 2, 134);
}

.heading{
    text-align: center;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
}

.mission-part{
    display: flex;
    padding: 20px 40px;
}
.h3-text{
    font-family: 'Poppins', sans-serif;
}

.card-img{
    width: 60%;
}

.card1{
    background-color: #EEF6F7;
    border-radius: 5%;
    padding: 20px;
    margin-right: 20px;
}

.card2{
    background-color: #FFEFEF;
    border-radius: 5%;
    padding: 20px;
    margin-right: 20px;
}

.card3{
    background-color: #FFF4D6;
    border-radius: 5%;
    padding: 20px;
}

.h2-text{
    font-family: 'Yeseva One', cursive;
}

.section-3{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    padding-top: 60px;
    background-position-x: left;
    background-position-y: center;
}

.develop-part{
    padding-right: 50px;
}
.develop-part2{
    padding-left: 50px;
}

.section-4{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    padding-top: 60px;
    padding-bottom: 50px;
    background-position-x: right;
    background-position-y: bottom;
}

footer{
    background-color: #0B0D17;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-text{
    font-family: 'Lobster', cursive;
    font-size: 14px;
}

.task-flex{
    display: flex;
    align-items: center;
}

.task-paragraph{
    font-size: 15px;
    color: grey;
    font-family: 'Poppins', sans-serif;
}

.pricing-section{
    display: flex;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-evenly;
}

.price-card{
    border-radius: 5%;
    box-shadow: 5px 5px 15px grey;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}

.hire-btn{
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    font-family: 'Yeseva One', cursive;  
}